<phpunit bootstrap="./vendor/autoload.php" backupGlobals="false" colors="true">
    <testsuites>
        <testsuite name="Test Suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <extensions>
        <extension class="SjorsO\Sup\Tests\SuiteBootstrap"/>
    </extensions>
</phpunit>
